{% extends "base_generic.html" %}

{% block content %}

    <h3>Blogs:</h3>
    <ul>
        {% for post in page_obj %}
        <figure>
            <img src="{% if post.image %}{{ post.image.url }}{% else %}{% endif %}" class="rounded" alt="">
        </figure>
            <h2 class="card-title h5">
                {{ post.title }}
            </h2>
            <h5>Short description: {{ post.short_description }} </h5>
            <div class="text-muted">
                <small>
                    Published {{ post.publish.date }} by <strong>{{ post.user }}</strong>
                </small>
            <h5>Author: <a href="{% url 'blog:user-detail' post.user.id %}" >{{ post.user }}</a></h5>
            </div>
            <div>
                <a href="{% url 'blog:post-detail' post.id %} " class="btn btn-primary btn-sm">Read more</a>

            </div>
        {% empty %}
            <li>No blogs yet.</li>
        {% endfor %}
    </ul>
{% endblock %}